[package]
authors = ["Olivier de Meringo <demeringo@gmail.com>"]
edition = "2021"
name = "cloud-scanner-cli"
version = "0.0.4"
[dependencies]
aws-types = "0.14.0"
chrono = "^0.4"
isocountry = "^0.3"
log = "0.4"
loggerv = "0.7"
pkg-version = "*"
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"

[dependencies.aws-config]
features = ["rustls"]
version = "0.14.0"

[dependencies.aws-sdk-cloudwatch]
features = ["rustls"]
version = "0.15.0"

[dependencies.aws-sdk-ec2]
features = ["rustls"]
version = "0.14.0"

[dependencies.aws-smithy-types-convert]
features = ["convert-chrono"]
version = "0.44"

[dependencies.boavizta_api_sdk]
path = "../boavizta-api-sdk"

[dependencies.clap]
features = ["derive"]
version = "3.2.5"

[dependencies.tokio]
features = ["full"]
version = "1"
