[package]
authors = ["Olivier de Meringo <demeringo@gmail.com>"]
edition = "2021"
name = "cloud-scanner-cli"
version = "0.0.6"
[dependencies]
boavizta_api_sdk = "0.1.1-alpha.1"
aws-types = "0.49.0"
chrono = "^0.4"
isocountry = "^0.3"
log = "0.4"
loggerv = "0.7"
pkg-version = "*"
prometheus-client = "*"
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"
anyhow = "1.0.65"

[dependencies.aws-config]
features = ["rustls"]
version = "0.49.0"

[dependencies.aws-sdk-cloudwatch]
features = ["rustls"]
version = "0.19.0"

[dependencies.aws-sdk-ec2]
features = ["rustls"]
version = "0.19.0"

[dependencies.aws-smithy-types-convert]
features = ["convert-chrono"]
version = "0.49"

[dependencies.clap]
features = ["derive"]
version = "=4.0.5"

[dependencies.tokio]
features = ["full"]
version = "1"
