[package]
authors = ["boavizta.org", "Olivier de Meringo <demeringo@gmail.com>"]
edition = "2021"
name = "cloud-scanner-cli"
version = "0.3.0-alpha3"
[dependencies]
aws-types = "0.55.3"
chrono = "^0.4"
isocountry = "^0.3"
log = "0.4"
loggerv = "0.7"
pkg-version = "*"
prometheus-client = "*"
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"
anyhow = "1.0.65"
rocket = "0.5.0-rc.2"
async-trait = "0.1.58"
assert-json-diff = "2.0.2"

[dependencies.boavizta_api_sdk]
version = "0.3.0-alpha2"
# path = "../../boaviztapi-sdk-rust"



[dependencies.aws-config]
features = ["rustls"]
version = "0.55.3"

[dependencies.aws-sdk-cloudwatch]
features = ["rustls"]
version = "0.28.0"

[dependencies.aws-sdk-ec2]
features = ["rustls"]
version = "0.28.0"

[dependencies.aws-smithy-types-convert]
features = ["convert-chrono"]
version = "0.55.3"

[dependencies.clap]
features = ["derive"]
version = "=4.2.3"

[dependencies.tokio]
features = ["full"]
version = "1"
