[package]
authors = ["Olivier de Meringo <demeringo@gmail.com>"]
edition = "2021"
name = "cloud-scanner-cli"
version = "0.0.1"
[dependencies]
aws-config = "0.10.1"
aws-sdk-ec2 = "0.10.1"
aws-sdk-cloudwatch = "0.10.1"

structopt =  "0.3"

[dependencies.tokio]
features = ["full"]
version = "1"
aws-sdk-ec2 = "0.10.1"
tokio = { version = "1", features = ["full"] }