[package]
authors = ["boavizta.org", "Olivier de Meringo <demeringo@gmail.com>"]
edition = "2021"
name = "cloud-scanner-cli"
version = "0.2.2-alpha.1"
[dependencies]
boavizta_api_sdk = "0.2.0-alpha.2"
aws-types = "0.52.0"
chrono = "^0.4"
isocountry = "^0.3"
log = "0.4"
loggerv = "0.7"
pkg-version = "*"
prometheus-client = "*"
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"
anyhow = "1.0.65"
rocket = "0.5.0-rc.2"
async-trait = "0.1.58"

[dependencies.aws-config]
features = ["rustls"]
version = "0.52.0"

[dependencies.aws-sdk-cloudwatch]
features = ["rustls"]
version = "0.22.0"

[dependencies.aws-sdk-ec2]
features = ["rustls"]
version = "0.22.0"

[dependencies.aws-smithy-types-convert]
features = ["convert-chrono"]
version = "0.52"

[dependencies.clap]
features = ["derive"]
version = "=4.0.10"

[dependencies.tokio]
features = ["full"]
version = "1"
