service: boavizta-cloud-scanner
provider:
  name: aws
  runtime: rust
  memorySize: 128
  stage: dev
  region: eu-west-1
  iam:
    role:
      statements:
        - Effect: Allow
          Action: "ec2:DescribeInstances"
          Resource: "*"
        - Effect: Allow
          Action: "cloudwatch:GetMetricStatistics"
          Resource: "*"
        - Effect: Allow
          Action: "cloudwatch:DescribeAlarm"
          Resource: "*"

package:
  individually: true

custom:
  rust:
    dockerless: true
    # # when using local builds (dockerless), optionally provide a different target and linker for the compiler
    # # for example, allow local running on ARM macs
    target: x86_64-unknown-linux-musl
    # linker: clang

plugins:
  - serverless-rust

functions:
  scan:
    handler: "cloud-scanner-lambda.bootstrap"
    environment:
      BOAVIZTA_API_URL: www.api.example.com
    events:
      - http:
          path: /scan
          method: get
          request:
            parameters:
              querystrings:
                hours_use_time: true
                aws_region: false
