[package]
edition = "2021"
name = "cloud-scanner-lambda"
version = "0.0.1"
[[bin]]
name = "bootstrap"
path = "src/main.rs"

[dependencies]
envy = "*"
log = "0.4"
pkg-version = "*"
serde_json = "1.0"

[dependencies.cloud-scanner-cli]
path = "../cloud-scanner-cli"

[dependencies.lambda_http]
version = "0.5"

[dependencies.lambda_runtime]
version = "0.5.1"

[dependencies.serde]
features = ["derive"]
version = "1.0"

[dependencies.tokio]
features = ["macros"]
version = "1.17.0"
